/* Write some CSS below */
body {
	font-family: overpass;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.banner {
	background-image: url(images/background.jpg);
	background-size: cover;
	padding: 150px 0;
	margin: auto;
	text-align: center;
    color: white;
}

h1 {
	font-size: 45px;
}


button {
	background-color: #0D1EC6;
	color: white;
	padding: 20px 40px;
	border-style: none;
	border-radius: 10px;
	font-size: 20px;
}

.container {
  width: 800px;
  margin: auto;
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  padding: 24px;
  margin: 8px;
}

.card-white img {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 5px;

}

.footer {
	background: #404042;
	text-align: center;
	padding: 20px 0;
}

.footer p {
	color: white;
}